<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CadastroDeUsuario_Core::cadastros" title="cadastros"
             module="CadastroDeUsuario_Core" resource="CadastroDeUsuario_Core::cadastros"
             translate="title" sortOrder="900" action="cadastros"/>
    </menu>
</config>
